<nav class="jv-nav">
  <a href="/capstone/jarvis/" class="jv-nav-link{% if page.rp_active == 'overview' %} active{% endif %}">Project Overview</a>
  <a href="/capstone/jarvis/technical/" class="jv-nav-link{% if page.rp_active == 'technical' %} active{% endif %}">Technical Detail</a>
  <a href="/capstone/jarvis/research-1/" class="jv-nav-link{% if page.rp_active == 'research-1' %} active{% endif %}">Research 1</a>
  <a href="/capstone/jarvis/research-2/" class="jv-nav-link{% if page.rp_active == 'research-2' %} active{% endif %}">Research 2</a>
  <a href="/capstone/jarvis/research-3/" class="jv-nav-link{% if page.rp_active == 'research-3' %} active{% endif %}">Research 3</a>
  <a href="/capstone/jarvis/research-4/" class="jv-nav-link{% if page.rp_active == 'research-4' %} active{% endif %}">Research 4</a>
</nav>
